APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8000

DATABASE_URL=postgresql+psycopg2://app_user:app_pass@localhost:5432/random_movies

JWT_SECRET=CHANGE_ME_TO_LONG_RANDOM_SECRET
JWT_ALG=HS256
ACCESS_TOKEN_EXPIRE_MIN=15
REFRESH_TOKEN_EXPIRE_DAYS=30

KINOPOISK_BASE_URL=https://api.poiskkino.dev/v1.4
KINOPOISK_API_KEY=0QZTAKB-HX6MTJ1-N6ABCHA-MSF9HBF